.App {
  text-align: center;
  /*background-color: #000; */
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
html, body, #root{
  height: 100%;
}
.bg{
  background-image: url('images/bg.jpg');
  background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
}

.box{
      width: 300px;
      padding: 40px;
      position: absolute;
      top: 50%;
      left:5%;
      transform: translateY(-50%);
      background-color: #fff;
      text-align: center;
    }
    .box h1{
      color: white;
      text-transform: uppercase;
      font-weight: 500;
    }
    .box input[type="text"],.box input[type="password"]{
      border: 0;
      background:none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #3498db;
      padding: 14px 10px;
      width: 200px;
      border-radius: 24px;
      color: white;
      outline: none;
      transition: 0.25s;
    }
    .box input[type="text"]:focus,.box input[type="password"]:focus{
      width: 250px;
      border-color: #2ecc71;
    }
    .box input[type="submit"]{
      border: 0;
      background:none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #2ecc71;
      padding: 14px 40px;
      border-radius: 24px;
      color: white;
      outline: none;
      transition: 0.25s;
      cursor: pointer;
    }
    .box input[type="submit"]:hover{
      background: #2ecc71;
    }